:root {
	--main-bg-color: #f3f4f9;
	--third-bg-color: #fff;
	--main-color: #2b2b29;
	--decor-color: rgba(148, 148, 148, 0.212);
	--second-color: #ff5d00;
	--third-color: #fff;
	--font-family-main: "Poppins", sans-serif;
	--font-size--main: 18px;
	--font-size--second: 22px;
	--font-size--decor: 10.5rem;
	--font-size--hero: 2.5rem;
	--font-size--hero2: 1.6rem;
	--font-size--title: 2rem;
	--font-weight--main: 400;
	--font-weight--hero: 700;
	--font-line-height: 1.6;
	--border-radius: 40px;
	--border-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	--text-shadow-hero: 2px 2px 2px #161616;
}

* {
	margin: 0;
	padding: 0;
}

/*  ----------------------------

    LAYOUT

----------------------------  */

.layout {
	background: var(--main-bg-color);
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
}

/*  ----------------------------

    TOP HEADER

----------------------------  */

.user-panel {
	display: flex;
	justify-content: space-between;
}

.user-panel__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-panel .user-panel__logo-img {
	width: 40px;
}

.user-panel .user-panel__logo-name {
	font-weight: var(--font-weight--hero);
	font-size: var(--font-size--hero2);
	margin-left: 10px;
}

.topbar {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--decor-color);
}

.topbar__header {
	background-color: var(--main-bg-color);
	height: 120px;
}

.topbar__link {
	margin: 0 20px 0 0;
	color: var(--main-color);
	font-size: var(--font-size--second);
	font-weight: var(--font-weight--hero);
}

.topbar__link--small {
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
}

.topbar__link:hover {
	color: var(--second-color);
}

/*  ----------------------------

    HERO

----------------------------  */
.hero {
	margin-top: 130px;
	height: 427px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("./assets/img/toysrental-hero2.png");
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}
.hero .hero__title {
	color: var(--third-color);
	font-size: var(--font-size--hero);
	font-weight: var(--font-weight--hero);
	text-shadow: var(--text-shadow-hero);
}

.hero h2 {
	color: var(--second-color);
	font-size: var(--font-size--hero2);
	font-weight: var(--font-weight--hero);
	text-shadow: var(--text-shadow-hero);
}

/*  ----------------------------

    COMMON SECTIONS

----------------------------  */

.holder {
	height: auto;
}

.holder p {
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
	line-height: var(--font-line-height);
}

.holder .holder__title {
	font-size: var(--font-size--title);
	font-weight: var(--font-weight--hero);
	padding: 100px 0 50px 0;
	text-align: center;
	color: var(--primary-color);
}

.holder .holder__title .holder__title--highlight {
	color: var(--second-color);
}

.ant-btn-default {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 150px;
	height: 40px;
	margin-left: 70px;
	font-family: var(--font-family-main);
	color: var(--second-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	color: var(--third-color);
	background-color: var(--second-color);
}
.ant-modal .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
	display: none;
}

.ant-picker-dropdown .ant-picker-today-btn:hover {
	color: var(--second-color);
}

.ant-picker-dropdown
	.ant-picker-cell-in-view.ant-picker-cell-selected
	.ant-picker-cell-inner {
	background-color: var(--second-color);
}

.ant-result .ant-result-icon {
	display: none;
}

.ant-modal .ant-modal-content {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
}

.anticon svg {
	margin-right: 50px;
	color: var(--main-color);
	font-weight: var(--font-weight--hero);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 250px;
	height: 40px;
	margin-top: 20px;
	font-family: var(--font-family-main);
	color: var(--second-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
	transition: 0.6s;
}

.button:hover {
	background-color: var(--second-color);
	color: var(--third-color);
	border: 1px solid white;
}

/*  ----------------------------

    HOW IT WORKS

----------------------------  */

/* .howitworks {
	background-color: transparent;
	box-shadow: var(--border-shadow);
} */

.howitworks .ant-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.howitworks .ant-col {
	padding: 0 5px;
}

.howitworks .howitworks__item {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	overflow: hidden;
}

.howitworks .howitworks__item .howitworks__img {
	height: 400px;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

.howitworks .howitworks__item .howitworks__img:hover {
	/* transform: scale(0.95); */
	transform: scale(1.1);
}

.howitworks__item .howitworks__description {
	background-color: var(--third-bg-color);
	font-family: var(--font-family-main);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	color: var(--main-color);
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/*  ----------------------------

    ABOUT US

----------------------------  */

.aboutusblock {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}
.aboutusblock .ant-col:first-of-type {
	background-image: url("./assets/img/about-us.png");
	background-repeat: no-repeat;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.aboutusblock .ant-col:nth-last-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 35px 50px;
	height: 400px;
}

/*  ----------------------------

    OUR OFFER

----------------------------  */

.ouroffer {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}
.ouroffer .ant-col:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 35px 50px;
}

.ouroffer .ant-col:nth-last-of-type(1) {
	background-image: url("./assets/img/our-offer.png");
	background-repeat: no-repeat;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	height: 500px;
}

.ouroffer .ouroffer__title {
	font-family: var(--font-family-main);
	font-size: var(--font-size--hero2);
	font-weight: var(--font-weight--hero);
	color: var(--main-color);
}

/*  ----------------------------

    CONTACT

----------------------------  */

.contact {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}

.contact__content {
	padding: 50px 50px;
}

.contact__title {
	font-family: var(--font-family-main);
	font-size: var(--font-size--hero2);
	font-weight: var(--font-weight--hero);
	color: var(--main-color);
}

.ant-form-item .ant-form-item-label > label {
	font-size: var(--font-size--main);
}

.form__item {
	border-radius: var(--border-radius);
	border: 1px solid var(--main-color);
}

.ant-input:focus,
.ant-input:hover {
	border-radius: var(--border-radius);
	border: 1px solid var(--main-color);
}

.ant-form button {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 150px;
	height: 40px;
	margin-left: 70px;
	font-family: var(--font-family-main);
	color: var(--second-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
	background-color: var(--second-color);
}

/*  ----------------------------

    DONATE

----------------------------  */

.donatetoys__row {
	margin-top: 40px;
}

.donatetoys__row .donatetoys__section--number {
	position: absolute;
	bottom: 0;
	font-size: var(--font-size--decor);
	font-weight: var(--font-weight--hero);
	font-family: var(--font-family-main);
	color: var(--third-color);
	text-shadow: var(--border-shadow);
}

.donatetoys__row .donatetoys__section--number::before {
	content: ".";
	color: var(--second-color);
}

.donatetoys__row .donatetoys__section--description {
	position: relative;
	z-index: 1;
	padding: 35px 50px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
}

.donatetoys__block {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
	margin-top: 40px;
}

.donatetoys__block .ant-col:first-of-type {
	background-image: url("./assets/img/about-us.png");
	background-repeat: no-repeat;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.donatetoys__block .ant-col:nth-last-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 100px 50px;
}

.donatetoys__block .ant-col:nth-last-of-type(1) .donatetoys__decor {
	/* color: red; */
	background-color: #2f2f2f;
	flex: none;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 30px;
}

.ant-picker:hover {
	border-color: var(--main-color);
}

.ant-input-number:hover {
	border-color: var(--main-color);
}

.ant-picker-dropdown .ant-picker-today-btn {
	color: var(--second-color);
}

.ant-picker-dropdown
	.ant-picker-cell-in-view.ant-picker-cell-today
	.ant-picker-cell-inner::before {
	border: 1px solid var(--second-color);
}

.donatetoys__form {
	padding: 35px 50px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}

/*  ----------------------------

	CATEGORY OF TOYS

----------------------------  */

.categories {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}

.categories .categories__holder {
	margin-left: 570px;
	width: 570px;
	padding: 100px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.categories .ant-carousel .categories__carousel {
	height: 400px;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
}

.ant-carousel .slick-dots li.slick-active {
	width: 16px;
}

.ant-carousel .slick-dots li.slick-active button {
	padding: 15px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	background-color: var(--second-color);
	border-radius: 30px;
	box-shadow: var(--border-shadow);
}

.ant-carousel .slick-dots {
	justify-content: flex-end;
	margin-right: 210px;
}

.ant-carousel .slick-dots li {
	margin-right: 15px;
}

.slick-dots ul.slick-dots-bottom {
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-right: 70px;
	box-shadow: var(--border-shadow);
}

.ant-carousel .slick-dots li button {
	height: 10px;
	width: 10px;
	bottom: 70px;
	padding: 15px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	background-color: var(--third-bg-color);
	border-radius: 30px;
	box-shadow: var(--border-shadow);
	opacity: 1;
}

.ant-carousel .slick-dots li button:hover {
	background-color: var(--second-color);
}

div.slick-slide:not(.slick-active),
div.slick-c:not(.slick-current) {
	opacity: 0;
}

/* !!! TO CHANGE !!! */

/* .ant-carousel .slick-slide {
	float: none;
} */

.categories .categories__title {
	font-size: var(--font-size--title);
	font-weight: var(--font-weight--hero);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
}

.categories .categories__link {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 250px;
	height: 40px;
	font-family: var(--font-family-main);
	color: var(--second-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
	transition: 0.6s;
}

.categories .categories__link:hover {
	background-color: var(--second-color);
	color: var(--third-color);
	border: 1px solid var(--second-color);
}

/*  ----------------------------

    FAQ

----------------------------  */

.faq {
	margin-bottom: 200px;
}

.faq .faq__collapse {
	padding: 35px 50px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}

.faq .faq__collapse .ant-collapse-header-text {
	font-weight: var(--font-weight--hero);
}

.faq .faq__collapse .ant-collapse-expand-icon svg {
	color: var(--second-color);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	font-size: 15px;
}

.ant-collapse-item {
	margin: 15px 0;
}

.faq__link,
.faq__link:hover {
	color: var(--second-color);
	font-weight: var(--font-weight--hero);
}

/*  ----------------------------

    FOOTER

----------------------------  */

.footer {
	background: var(--main-bg-color);
	margin: 30px 0;
	display: flex;
}
.copyright {
	font-size: var(--font-size--main);
}

/*  ----------------------------

    RENTAL TOYS

----------------------------  */

.rentaltoys .ant-col {
	margin-bottom: 50px;
}

.rentaltoys .rentaltoys__content {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	overflow: hidden;
	box-shadow: var(--border-shadow);
}

.rentaltoys .rentaltoys__content .rentaltoys__img {
	height: 300px;
	background-repeat: no-repeat;
	width: 285px;
}

.rentaltoys .rentaltoys__content .rentaltoys__title {
	background-color: var(--third-bg-color);
	font-family: var(--font-family-main);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	color: var(--main-color);
	height: 120px;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rentaltoys .rentaltoys__content .rentaltoys__btn {
	margin: 10px 0;
}

/*  ----------------------------

    LOGIN FORM

----------------------------  */

.login_container {
	/* background-color: aqua; */
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.login_container .login_form {
	max-width: 270px;
	height: 200px;
	/* background-color: green; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login_container .login_form .form__item {
	border-radius: var(--border-radius);
	border: 0px solid var(--main-color);
	height: 32px;
	padding: 20px;
}

.login_container .login_form .form_btn--active {
	/* background-color: var(--third-bg-color); */
	/* display: flex;
	align-items: center;
	justify-content: center; */
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 150px;
	height: 40px;
	margin-left: 70px;
	font-family: var(--font-family-main);
	/* color: var(--second-color); */
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
	background-color: var(--second-color);
	color: var(--third-color);
	cursor: pointer;
}

.login_container .form_btn--inactive {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 150px;
	height: 40px;
	margin-left: 70px;
	font-family: var(--font-family-main);
	color: var(--second-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
	/* background-color: var(--second-color); */
	/* color: var(--third-color); */
}

.login_container .addition_container {
	/* background-color: red; */
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login_container .addition_container > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login_container .addition_container .decor--border {
	font-family: var(--font-family-main);
	color: var(--decor-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
}
