:root {
	--main-bg-color: #f3f4f9;
	/* --second-bg-color: rgb(90, 184, 98); */
	--third-bg-color: #fff;
	--main-color: #2b2b29;
	--decor-color: rgba(148, 148, 148, 0.212);
	--second-color: #ff5d00;
	/* --second-color: #e65a0a; */
	--third-color: #fff;
	--font-family-main: "Poppins", sans-serif;
	--font-size--main: 18px;
	--font-size--decor: 10.5rem;
	--font-size--hero: 2.5rem;
	--font-size--hero2: 1.6rem;
	--font-size--title: 2rem;
	--font-weight--main: 400;
	--font-weight--hero: 700;
	--font-line-height: 1.6;
	--border-radius: 40px;
	--border-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	--text-shadow-hero: 2px 2px 2px #161616;
}

* {
	margin: 0;
	padding: 0;
}

/*  ----------------------------

    LAYOUT

----------------------------  */

.layout {
	background: var(--main-bg-color);
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
}

/*  ----------------------------

    TOP HEADER

----------------------------  */

.user-panel {
	display: flex;
	justify-content: space-between;
}

.user-panel .user-panel__logo-img {
	width: 40px;
}

.user-panel .user-panel__logo-name {
	font-weight: var(--font-weight--hero);
	font-size: var(--font-size--hero2);
	margin-left: 10px;
}

.topBar {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--decor-color);
}

.headerStyle {
	background-color: var(--main-bg-color);
	/* background-color: red; */
	height: 120px;
}

.topBar a {
	margin: 0 20px 0 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: var(--font-weight--hero);
}

.topBar a:hover {
	color: var(--second-color);
}

/*  ----------------------------

    HERO

----------------------------  */
.hero {
	margin-top: 130px;
	height: 427px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("./assets/img/toysrental-hero2.png");
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}
.hero .hero__title {
	color: var(--third-color);
	font-size: var(--font-size--hero);
	font-weight: var(--font-weight--hero);
	text-shadow: var(--text-shadow-hero);
}

.hero h2 {
	color: var(--second-color);
	font-size: var(--font-size--hero2);
	font-weight: var(--font-weight--hero);
	text-shadow: var(--text-shadow-hero);
}

/*  ----------------------------

    COMMON SECTIONS

----------------------------  */

.holder {
	height: auto;
}

.holder p {
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
	line-height: var(--font-line-height);
}

.holder .holder__title {
	font-size: var(--font-size--title);
	font-weight: var(--font-weight--hero);
	padding: 100px 0 50px 0;
	text-align: center;
	color: var(--primary-color);
}

.holder .holder__title .holder__title--highlight {
	color: var(--second-color);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 250px;
	height: 40px;
	margin-top: 20px;
	font-family: var(--font-family-main);
	color: var(--second-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
	transition: 0.6s;
}

.button:hover {
	background-color: var(--second-color);
	color: var(--third-color);
	border: 1px solid white;
}

/*  ----------------------------

    HOW IT WORKS

----------------------------  */

/* .howitworks {
	background-color: transparent;
	box-shadow: var(--border-shadow);
} */

.howitworks .ant-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.howitworks .ant-col {
	padding: 0 5px;
}

.howitworks .howitworks__item {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	overflow: hidden;
}

.howitworks .howitworks__item .howitworks__img {
	height: 400px;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

.howitworks .howitworks__item .howitworks__img:hover {
	/* transform: scale(0.95); */
	transform: scale(1.1);
}

.howitworks__item .howitworks__description {
	background-color: var(--third-bg-color);
	font-family: var(--font-family-main);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	color: var(--main-color);
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/*  ----------------------------

    ABOUT US

----------------------------  */

.aboutusblock {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}
.aboutusblock .ant-col:first-of-type {
	background-image: url("./assets/img/about-us.png");
	background-repeat: no-repeat;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.aboutusblock .ant-col:nth-last-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 35px 50px;
	height: 400px;
}

/*  ----------------------------

    OUR OFFER

----------------------------  */

.ouroffer {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}
.ouroffer .ant-col:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 35px 50px;
}

.ouroffer .ant-col:nth-last-of-type(1) {
	background-image: url("./assets/img/our-offer.png");
	background-repeat: no-repeat;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	height: 500px;
}

.ouroffer .ouroffer__title {
	font-family: var(--font-family-main);
	font-size: var(--font-size--hero2);
	font-weight: var(--font-weight--hero);
	color: var(--main-color);
}

/*  ----------------------------

    CONTACT

----------------------------  */

.contactBlock {
	height: 400px;
	width: 900px;
	margin: 100px 0 100px 0;
}

.contactBlock img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.containerContact {
	margin: 20px 0 100px 250px;
}

.containerContact input,
.containerContact textarea {
	border: none;
	border-bottom: 1px solid;
}

.containerContact button {
	background-color: pink;
	color: #2f2f2f;
}

.contactBlock .ant-form button span {
	margin-top: 0;
}

.contactBlock .ant-form button {
	background-color: rgb(99, 99, 99);
}

.contactBlock .ant-form button:hover {
	background-color: rgb(4, 104, 236);
}

/*  ----------------------------

    DONATE

----------------------------  */

.donatetoys__row {
	margin-top: 40px;
}

.donatetoys__row .donatetoys__section--number {
	position: absolute;
	bottom: 0;
	font-size: var(--font-size--decor);
	font-weight: var(--font-weight--hero);
	font-family: var(--font-family-main);
	color: var(--third-color);
	text-shadow: var(--border-shadow);
}

.donatetoys__row .donatetoys__section--number::before {
	content: ".";
	color: var(--second-color);
}

.donatetoys__row .donatetoys__section--description {
	position: relative;
	z-index: 1;
	padding: 35px 50px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
}

.donatetoys__block {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
	margin-top: 40px;
}

.donatetoys__block .ant-col:first-of-type {
	background-image: url("./assets/img/about-us.png");
	background-repeat: no-repeat;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.donatetoys__block .ant-col:nth-last-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 100px 50px;
}

.donatetoys__block .ant-col:nth-last-of-type(1) .donatetoys__decor {
	color: red;
	background-color: #2f2f2f;
	flex: none;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 30px;
}

/*  ----------------------------

	CATEGORY OF TOYS

----------------------------  */

.categories {
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}

.categories .categories__holder {
	margin-left: 570px;
	width: 570px;
	padding: 100px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.categories .ant-carousel .categories__carousel {
	height: 400px;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.ant-carousel .slick-dots li.slick-active {
	width: 16px;
}

.ant-carousel .slick-dots li.slick-active button {
	padding: 15px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	background-color: var(--second-color);
	border-radius: 30px;
	box-shadow: var(--border-shadow);
}

.ant-carousel .slick-dots {
	justify-content: flex-end;
	margin-right: 210px;
}

.ant-carousel .slick-dots li {
	margin-right: 15px;
}

.slick-dots ul.slick-dots-bottom {
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-right: 70px;
	box-shadow: var(--border-shadow);
}

.ant-carousel .slick-dots li button {
	height: 10px;
	width: 10px;
	bottom: 70px;
	padding: 15px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	background-color: var(--third-bg-color);
	border-radius: 30px;
	box-shadow: var(--border-shadow);
	opacity: 1;
}

.ant-carousel .slick-dots li button:hover {
	background-color: var(--second-color);
}

div.slick-slide:not(.slick-active),
div.slick-c:not(.slick-current) {
	opacity: 0;
}

/* !!! TO CHANGE !!! */

/* .ant-carousel .slick-slide {
	float: none;
} */

.categories .categories__title {
	font-size: var(--font-size--title);
	font-weight: var(--font-weight--hero);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
}

.categories .categories__link {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	border: 1px solid var(--second-color);
	width: 250px;
	height: 40px;
	font-family: var(--font-family-main);
	color: var(--second-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--hero);
	line-height: var(--font-line-height);
	transition: 0.6s;
}

.categories .categories__link:hover {
	background-color: var(--second-color);
	color: var(--third-color);
	border: 1px solid white;
}

/*  ----------------------------

    FAQ

----------------------------  */

.faq {
	margin-bottom: 200px;
}

.faq .faq__collapse {
	padding: 35px 50px;
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
	background-color: var(--third-bg-color);
	border-radius: var(--border-radius);
	box-shadow: var(--border-shadow);
}

.faq .faq__collapse .ant-collapse-header-text {
	font-weight: var(--font-weight--hero);
}

.faq .faq__collapse .ant-collapse-expand-icon {
	color: var(--second-color);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	font-size: 15px;
}

.ant-collapse-item {
	margin: 15px 0;
}
